html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 130%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

h1#header2 {
  color: #EC7063  ;
  border: 3px solid grey;
  border-right-width: 20px;
  border-left-width: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px; 
  font-family: athelas; 
  font-size: 200%; 
  padding: 20px;
}

h1#header {
  color: #E74C3C  ;
  font-family: hobo std;
  font-size: 400%;
  padding: 20px;
  text-align: center;
  }


ol, ul {
  list-style: none; }

  body {
    background-image: url("Background1.jpg");
    background-color: #cccccc;
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: athelas;
  color: grey; }

a {
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

#main {
  padding: 65px; }


img#Zombulator {
  width: 500px;
  height: 350px;
  position: relative;
  left: 800px;
  bottom: 1250px;
  border-style: outset;
    border-width: 5px;
    border-color: #1A5276;
}

p#ZombulatorText {
  position: relative;
  left: 850px;
  bottom: 1675px;
  font-family: phosphate;
  font-size: 32px;
  color: #1A5276;
}

p#intro {
  margin-right: 420px;
}

